.cards-container{
    width: 100%;
    .info-inference{
        @include for-tablet-dw-730{
            display: block;
            width: 310px;
            height: auto;
            .last-time{
                margin-bottom: 20px;
            }
        }
        @include for-big-desktop-up {
            width: 900px;
            height: 300px;
        }
        display: flex;
        margin: 0 auto;
        width: 700px;
        height: 214px;
        margin-top: 20px;
        justify-content: space-between;
        
        .last-time{
            @include for-big-desktop-up {
                width: 300px;
                height: 200px;
            }
            height: 150px;
            width: 250px;
            padding: 30px;
            box-shadow: 0px 5px 15px $default-gray;
            border-radius: 10px;

            .date{
                margin: 30px 0 30px 0;
            }
        }
        .detail{
            width: 100%;
            border: 1px solid black;
          }
        .inferred{
            @include for-big-desktop-up {
                width: 300px;
                height: 200px;
            }
            height: 150px;
            width: 250px;
            padding: 30px;
            box-shadow: 0px 5px 15px $default-gray;
            border-radius: 10px;
            .inference{
                display: flex;
                margin-top: 55px;
                h2{
                    margin: auto;
                }

            }
        }
    }
    .graphic{
        @include for-mobile-dw-600 {
            width: 300px;
            height: auto;
            padding: 10px;  
        }
        width: 500px;
        margin: auto;
        margin-top: 20px;
        padding: 30px;
        box-shadow: 0px 5px 15px $default-gray;
        border-radius: 10px;
    }
}
