.main-cards-container{
    @include for-desktop-dw-1260 {
        margin: 20px 10px 10px 10px;
    }
    height: 100%;
    width: auto;
    margin: 60px 0px 0px 250px;
    display: flex;
    flex-wrap: wrap;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;   
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $green;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.cards-container{
    width: 100%;
    .info-inference{
        @include for-tablet-dw-730{
            display: block;
            width: 100%;
            height: auto;
            .last-time{
                margin-bottom: 20px;
            }
        }
        display: flex;
        margin: 0 auto;
        width: 100%;
        height: 214px;
        margin-top: 20px;
        justify-content: space-between;
        
        .last-time{
            @include for-tablet-dw-730 {
                width: auto;
            }
            height: 150px;
            width: 40%;
            margin: auto;
            padding: 30px;
            box-shadow: 0px 5px 15px $default-gray;
            border-radius: 10px;

            .date{
                margin: 30px 0 30px 0;
            }
        }
        .detail{
            width: 100%;
            border: 1px solid black;
          }
        .inferred{
            @include for-tablet-dw-730 {
                width: auto;
                margin-top: 20px;
            }
            height: 150px;
            width: 40%;
            margin: auto;
            padding: 30px;
            box-shadow: 0px 5px 15px $default-gray;
            border-radius: 10px;
            .inference{
                display: flex;
                margin-top: 55px;
                h2{
                    margin: auto;
                }

            }
        }
    }
    .graphic{
        @include for-mobile-dw-600 {
            width: 95%;
            height: auto;
            padding: 10px;  
            margin-top: 20px;

        }
        @include for-big-desktop-up {
            width: 92%;
            height: auto;
            padding: 10px;  
        }
        display: flex;
        margin: 0 auto;
        width: 95%;
        height: 300px;
        margin-top: 50px;
        box-shadow: 0px 5px 15px $default-gray;
        border-radius: 10px;
    }
}
