.icons{
    font-size: 50px;
    align-items: center;
    display: flex;
    margin: auto;
}

.info-detections {
    justify-content: start;
    width: auto;
}

.row-info-toten {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    h4 {
        padding-right: 8px;
    }
}

.circle {
    @include for-mobile-dw-600 {
        width:  30px;
        height: 30px;
    }
    display: block;
    border-radius: 50%;
    width:  50px;
    height: 50px;
    background-color: white;
    box-shadow: 2px 2px 2px $default-gray;
    position: fixed;
    bottom: 44px;
    right: 10px;
    cursor: pointer;
    .upIcon {
        @include for-mobile-dw-600 {
            margin-top: 6px;
            font-size: 30px;
        }
        margin-top: 8px;
        font-size: 50px;
    }
}

.circle:hover {
    box-shadow: 0px 2px 10px $default-gray;
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.main-cards-container{
    @include for-desktop-dw-1260 {
        margin: 40px 10px 10px 10px;
    }
    width: auto;
    margin: 60px 0px 0px 250px;
    display: flex;
    flex-wrap: wrap;
}

.first-icon-return {
    font-size: 50px;
    display: block;
    left: 0;
    // margin-left: 50px;
    cursor: pointer;
    @include for-desktop-dw-1260 {
        margin-bottom: 20px;
    }
}

.Inference{
    width: 100%;
    display: block !important;
    flex-wrap: wrap;
    @include for-desktop-up-1600 {
        display: block;
    }
}

.sectionContainer{
    margin-left: 150px;
}

img{
    width: 100%;
    height:166px;
}

.mainDashboardCardsContainer{
    display: flex;
    @include for-desktop-down{
        width: 960px;
    }
    @include for-desktop-up-1600 {
        width: 1300px;
    }
    @include for-tablet-dw-1000{
        width: 640px;
    }
    @include for-mobile-dw-680{
        width: 300px;
    }
    padding: .75rem;
    //justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    .containerCards{
        margin: 0 auto;
    }
    .cardContainer{
        margin: 10px;
    }
}

.inferenceContainer{
    margin: 70px 20px 50px 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    @include for-mobile-dw-600{
        display: block;
    }
    .icon-return{
        @include for-mobile-dw-600{
            display: block;
            margin-right: auto;
        }
        margin-bottom: 30px;
        margin-right: 20px;
        font-size: 50px;
        cursor: pointer;
    }
    .space{
        width: 50px;
        height: 50px;
    }
    .images {
        width: 100%;
        height: 100%;
    }
    .infoContainer{
        @include for-tablet-dw-1180 {
            display: block;
            height: auto;
            width: auto;
        }
        margin: auto;
        display: flex;
        height: 400px;
        width: 900px;
        padding: 20px;
        box-shadow: 0px 5px 15px $default-gray;
        border-radius: 10px;
        background-color: white;
        .iconImage{
            font-size: 70px;
            margin: auto;
        }
        .containerNormalImage{
            display: flex;
            height: 100%;
            width: 450px;
            padding-right: 10px;
            border-right-width: 3px;
            border-right-style: solid;
            border-right-color: #000;
            @include for-tablet-dw-1180{
                margin: auto;
                width: 300px;
                border: none;
                border-bottom-width: 3px;
                border-bottom-style: solid;
                border-bottom-color: #000;
                padding-bottom: 10px;
                padding-right: 0px;
            }
        }
        .containerInferedImage{
            display: flex;
            height: 100%;
            width: 450px;
            margin-left: 10px;
            @include for-tablet-dw-1180{
                margin: 10px auto auto auto !important;
                width: 300px;
                margin-top: 10px;
                margin-left: 0px;
            }
        }
    }
    
}