// Default context = 16
@function em($pixel, $contexto: 16) {
  @return $pixel / $contexto + em;
}

@mixin type-1($size) {
  font-family: $main-font;
  font-size: em($size);
  @if $size == 18 {
    line-height: em(30, 18);
  } @else if $size == 24 {
    line-height: em(30, 24);
  }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}