// Default context = 16
@function em($pixel, $contexto: 16) {
  @return $pixel / $contexto + em;
}

@mixin type-1($size) {
  font-family: $main-font;
  font-size: em($size);
  @if $size == 18 {
    line-height: em(30, 18);
  } @else if $size == 24 {
    line-height: em(30, 24);
  }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-mobile-dw-600 {
  @media (max-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-dw-1260 {
  @media (max-width: 1260px) { @content; }
}
@mixin for-tablet-dw-1264 {
  @media (max-width: 1264px) { @content; }
}
@mixin for-desktop-down{
  @media (max-width: 1600px) { @content; }
}
@mixin for-tablet-dw-1000 {
  @media (max-width: 1000px) { @content; }
}
@mixin for-tablet-dw-730 {
  @media (max-width: 730px) { @content; }
}
@mixin for-tablet-dw-1180 {
  @media (max-width: 1180px) { @content; }
}
@mixin for-mobile-dw-680 {
  @media (max-width: 680px) { @content; }
}
@mixin for-desktop-up-1600{
  @media (min-width: 1600px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

//@include for-desktop-up {
//  padding: 20px;
//}