$gray: #eeeeee;
$default-gray: #cecece;
$dark-gray: #d4d4d4;
$light-gray: #F5F5F5;
$black: #000000;
$red: #ef476f;
$yellow: #ffd166;
$green: #06d6a0;
$blue: #118ab2;
$dark-blue: #073b4c;
$purple: #985fd8;
$gray-overlay: transparentize($black, 0.12);
// $main-font: "Montserrat", sans-serif;