.sectionContainer{
    //display: flex;
    z-index: 1;
    max-width: 10000px;
    max-height: 100vh;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    background-color: blue;
}
